package stream

import (
	"guppy/internal/interpreter"
)

// TODO: All of this.

type methodXXX struct {
	interpreter.Object
}

func (m methodXXX) Params(i *interpreter.Interpreter) (*interpreter.Params, error) {
	return &interpreter.Params{
		Params: []interpreter.ParamDef{
			{Name: "self"},
		},
		StarParam: "s",
		KWParam:   "k",
	}, nil
}

func (m methodXXX) Call(i *interpreter.Interpreter) (interpreter.Object, error) {
	if self, err := interpreter.ArgAs[Stream](i, "self"); err != nil {
		return nil, err
	} else {
		return NewXXX(self), nil
	}
}

/*
type XXX struct {
	interpreter.Object

	source Stream
}

func NewXXX(source Stream) Stream {
	return &XXX{
		Object: newStreamObject(),
		source: unpublish(source),
	}
}

func (s *XXX) RenderStream() string {
	return s.source.RenderStream() + ".xxx()"
}
*/